<div class="container" id="show-cont">
  <div class="row">
  <div class="col-6">
    <% if @service.photo.url %></div>
      <%= cl_image_tag @service.photo %>
    <% else %>
      <%= image_tag "phiver.png" %>
    <% end %>
    <%= link_to 'Book Now', new_service_booking_path(@service), class: "btn-success", id: "bookbtn"%>
  </div>

  <div class="col-6">
    <div class="service-info">
       <h1 id="show-service-name"><%= @service.name.capitalize %></h1>
       <p  id="show-user"> Posted by: <%= @service.user.name %> on <%= @service.created_at%></p>
       <h2 id="show-price">$<%=@service.price%> <i>/hour </i> </h2>
       <p id="show-description"><%= @service.description %></p>
    </div>
    <div class="reviews">
        <h1>Reviews</h1>
      </div>
    </div>
  </div>
</div>
