<!-- <div class="container"> -->
  <div class="show-card">
    <div class="class show-image">
      <% if @service.photo.url %>
      <%= cl_image_tag @service.photo %>
      <% else %>
      <%= image_tag "phiver.png" %>
      <% end %>
    </div>
    <div class="show-display">
      <div id="show-service-name"><%= @service.name.capitalize %></div>
      <div id="show-user"><%= @service.user_id %></div>
      <div id="show-price"><%= @service.price %></div>
      <div id="show-button"><%= link_to 'Book Now' %> </div>
      <div id="show-description"><%= @service.description %></div>
    </div>
  </div>
<!-- </div>
 -->
