<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to services_path , class: "navbar-brand" do  %>
  <%= image_tag "phiver.png" %>
  <% end %>
  <div class="searchbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ul>
          <td>
            <%= form_tag services_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a service"%>
          </td>
        </ul>
        <td>
          <%= submit_tag "Search", class: "btn btn-success" %>
        </td>
      </ul>
    </div>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
    <i class="far fa-caret-square-down dropdown-arrow" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Services booked", dashboards_path, class: "dropdown-item" %>
      <%= link_to "My Services", services_dashboards_path, class: "dropdown-item" %>
      <%= link_to "Add a New Service", new_service_path, class: "dropdown-item" %>
  </div>
</div>
