<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to services_path , class: "navbar-brand" do  %>
  <%= image_tag "phiver.png" %>
  <% end %>
  <div class="searchbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul>
        <td>
  <%= form_tag services_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Search for a service"%>
</td>
</ul>
  <td>
  <%= submit_tag "Search", class: "btn btn-success" %>
</td>
</ul>
</div>
  <% end %>
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul class= "logo_cart">
        <td>
          <%=link_to dashboards_path do %>
          <i class="fas fa-cart-plus"></i>
          <%end%>
        </td>
      </ul>
      <ul class="logo_add">
        <td>
          <%= link_to new_service_path do %>
          <i class="fas fa-plus-square"></i>
          <% end %>
        </td>
      </ul>
      <ul class="logo_user">
        <td>
          <%= link_to dashboards_services_path do %>
          <i class="fas fa-user"></i>
          <%end%>
        </td>
      </ul>
    </ul>
  </div>
</div>
