<div class="dashboard-banner"  >
  <div class="dashboard-banner-text">
    <h1 class="page-title-entry-title">Services booked</h1>
    <p class="page-sub-title">This are the services you have booked</p>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card-trip">
        <% if booking.service.photo_url.nil? %>
        <%= image_tag "phiver.png"%>
        <%else%>
        <%= cl_image_tag booking.service.photo %>
        <%end%>
        <div class="card-trip-infos">
          <div>
            <h2><%=link_to booking.service.name, booking.service %></h2>
            <td>
            <%= link_to booking, method: :delete, data: { confirm: 'Are you sure you want to delete this booking?' } do %>
              <p class="delete-phrase">Unbook this service</p><i class="fas fa-trash"></i>
              <%end%>
            </td>
          </div>
          <div>
          <h2>$<%= booking.service.price %>/hour </h2>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>
